.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-color: black;
    overflow: hidden;
}

.text:hover {
    color: blue;
    transform: scale(0.8);
    font-style: inherit;
}

.cos:hover {
    color: rgb(255, 38, 0);
    font-style: oblique;
}

.yup:hover {
    color: darkgoldenrod;
    transform: scale(1.2);
    font-style: italic;
}

.ofc:hover {
    color: darkmagenta;
    font-weight: 900;
    font-style: initial;
}

.miejsce {
    position: relative;
}


.zdjecie1 {
    width: 256px;
    height: 256px; 
}

@keyframes animacja1 {
    from {
        width: 256px;
        height: 256px;
    } to {
        width: 300px;
        height: 300px;
    }
}

.zdjecie1:hover {
    transform: scale(3.2);
}

.two:hover {
    transform: scale(1.2);
}
.hiden {
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    overflow: hidden;
  }
  .item1 {
    grid-column: 1 / span 7;
    grid-row: 1;
  }
  
  .item2 {
    grid-column: 8;
    grid-row: 1 / span 2;
  }
  
  .item5 {
    grid-column: 1 / span 8;
    grid-row: 3;
  }
  .item3 {
    grid-column: 1 / span 4;  
    grid-row: 2;
  }
  .item4 {
      grid-column: 5 / span 3;
      grid-row: 2;
  }

  img {
      width: 100%;
      height: 100%;
  }

  .img:hover {
      transform: scale(1.3);
  }
